{% extends 'base.html.twig' %}

{% block title %}Види товарів {% endblock %}

{% block body %}

<table class="table">
    <tbody>

        {% for item in product %}
            <tr>
                <td scope="row">{{ item.name }}</td>
                <td scope="row" rowspan="3"><img src="{{ item.image }}" id="line" width="30%"></td></tr>
            <tr><td scope="row">{{ item.size }}'</td></tr>
            <tr><td scope="row">{{ item.price }} грн.</td></tr>

            <tr><th scope="row"><a href="{{ path('details',{'id':item.id}) }}" class="btn btn-success">Деталі</a></th></tr>
        {% endfor %}

    </tbody>

{% endblock %}
